dingo_api_console.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="http://dingoapp.herokuapp.com">
        
<!-- ##################### AUTHENTICATION ##################### -->        
        
        <!-- sign_up -->
        <resource path="/users/sign_up">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="email" required="true" type="xsd:string" style="query"></param>
            <param name="password" required="false" type="xsd:string" style="query"></param>
            <param name="name" required="false" type="xsd:string" style="query"></param>
            <param name="date_of_birth" required="false" type="xsd:date" style="query"></param>
            <param name="city" required="false" type="xsd:date" style="query"></param>
            <param name="photo_url" required="false" type="xsd:string" style="query"></param>
            <param name="device_uid" required="false" type="xsd:string" style="query"></param>
            <param name="device_brand" required="false" type="xsd:string" style="query"></param>
            <param name="device_model" required="false" type="xsd:string" style="query"></param>
            <param name="device_os" required="false" type="xsd:string" style="query"></param>
            <param name="device_app_version" required="false" type="xsd:string" style="query"></param>
            <param name="device_mobile_number" required="false" type="xsd:string" style="query"></param>
            <param name="device_ip" required="false" type="xsd:string" style="query"></param>
            <param name="device_location" required="false" type="xsd:string" style="query"></param>
            <method id="signup" name="GET" apigee:displayName="Sign Up">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">sign_up</doc>
            </method>
        </resource>
        
        <!-- login -->
        <resource path="/users/sign_in">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="email" required="true" type="xsd:string" style="query" default="user1@example.com"></param>
            <param name="password" required="false" type="xsd:string" style="query" default="dingodingo"></param>
            <param name="auth_token" required="false" type="xsd:string" style="query" default="kZz88RuBL5t5coJfitpR"></param>
            <method id="login" name="GET" apigee:displayName="Login">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="false"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
            </method>
        </resource>

<!-- ##################### CATEGORIES ##################### -->        
        
        <!-- get_categories -->
        <resource path="/api/v1/categories">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_categories" name="GET" apigee:displayName="Get Categories">
                <apigee:tags>
                    <apigee:tag primary="true">Categories</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_categories</doc>
            </method>
        </resource>
        
<!-- ##################### EVENTS ##################### -->        

        <!-- get_all_events -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_all_events" name="GET" apigee:displayName="Get All Events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_all_events</doc>
            </method>
        </resource>
        
        <!-- get_events_by_categories -->
        <resource path="/api/v1/events?category_ids[]=03487377-4146-4067-a048-04859710b8c8">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_events_by_categories" name="GET" apigee:displayName="Get Events by Categories">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_events_by_categories</doc>
            </method>
        </resource>
        
        <!-- get_events_by_location -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="location" required="false" type="xsd:string" style="query" default="latitude,longitude"></param>
            <param name="city" required="false" type="xsd:string" style="query" default="London"></param>
            <method id="get_events_by_location" name="GET" apigee:displayName="Get Events by Location">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_events_by_location</doc>
            </method>
        </resource>
        
        <!-- get_featured_events -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="featured" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="get_featured_events" name="GET" apigee:displayName="Get Featured Events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_featured_events</doc>
            </method>
        </resource>
        
        <!-- search_events_by_name -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="name" required="true" type="xsd:string" style="query" default=""></param>
            <method id="search_events_by_name" name="GET" apigee:displayName="Search Events by Name">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">search_events_by_name</doc>
            </method>
        </resource>
        
        <!-- create_event -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="category_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="date" required="true" type="xsd:datetime" style="query" default=""></param>
            <param name="end_date" required="true" type="xsd:datetime" style="query" default=""></param>
            <param name="name" required="true" type="xsd:string" style="query" default=""></param>
            <param name="description" required="false" type="xsd:string" style="query" default=""></param>
            <param name="address" required="false" type="xsd:string" style="query" default=""></param>
            <param name="postcode" required="false" type="xsd:string" style="query" default=""></param>
            <param name="city" required="false" type="xsd:string" style="query" default=""></param>
            <param name="location" required="false" type="xsd:string" style="query" default=""></param>
            <method id="create_event" name="POST" apigee:displayName="Create Event">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">create_event</doc>
            </method>
        </resource>
        
<!-- ##################### TICKETS ##################### -->
        
        <!-- create_ticket -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="event_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="price" required="true" type="xsd:double" style="query" default=""></param>
            <param name="seat_type" required="false" type="xsd:string" style="query" default=""></param>
            <param name="description" required="false" type="xsd:string" style="query" default=""></param>
            
            <param name="delivery_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="payment_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="number_of_tickets" required="false" type="xsd:integer" style="query" default=""></param>
            <param name="face_value_per_ticket" required="false" type="xsd:double" style="query" default=""></param>
            
            
            <method id="create_ticket" name="POST" apigee:displayName="Create Ticket">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">create_ticket</doc>
            </method>
        </resource>
        
        <!-- get_tickets_by_event -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="event_id" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_tickets_by_event" name="GET" apigee:displayName="Get Tickets By Event">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_tickets_by_event</doc>
            </method>
        </resource>
        
        <!-- get_tickets_by_user -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="user_token" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_tickets_by_user" name="GET" apigee:displayName="Get Tickets By User">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_tickets_by_user</doc>
            </method>
        </resource>
        
        

        <!--
        <resource path="/functions/login">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="login" name="POST" apigee:displayName="Login">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
                <request>
                    <representation>
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[
                                { "email": "dingo@dingoapp.co.uk", "password": "dingo" }
                                ]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        
        <resource path="/functions/signup">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="signup" name="POST" apigee:displayName="Signup">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">signup</doc>
                <request>
                    <representation>
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[
                                {
                                    "username": "user@example.com",
                                    "email": "user@example.com",
                                    "password": "user123",
                                    "name": "John Smith",
                                    "date_of_birth": "01/01/2000",
                                    "device_uuid": "0123456789",
                                    "device_type": "iPhone 5S",
                                    "mobile_number": "+447912345678",
                                    "latitude": 30.0,
                                    "longitude": -40.0
                                }
                                ]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        <resource path="/classes/Ticket">
            <param name="event" required="true" type="xsd:string" style="query" default="main_event">
                <doc>
                    Filter tickets by a specific event
                </doc>
            </param>
            <method id="get_tickets" name="GET" apigee:displayName="Old Get Tickets">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">Get Tickets</doc>
            </method>
        </resource>
        
        -->

    </resources>

</application>
