dingo_api_console.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="http://dingoapp.herokuapp.com">
        
<!-- ##################### AUTHENTICATION ##################### -->        
        
        <!-- sign_up -->
        <resource path="/users/sign_up">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="email" required="true" type="xsd:string" style="query"></param>
            <param name="password" required="false" type="xsd:string" style="query"></param>
            <param name="name" required="false" type="xsd:string" style="query"></param>
            <param name="date_of_birth" required="false" type="xsd:date" style="query"></param>
            <param name="city" required="false" type="xsd:date" style="query"></param>
            <param name="photo_url" required="false" type="xsd:string" style="query"></param>
            <param name="allow_dingo_emails" required="false" type="xsd:boolean" style="query"></param>
            <param name="allow_push_notifications" required="false" type="xsd:boolean" style="query"></param>
            <param name="fb_id" required="false" type="xsd:string" style="query"></param>
            <param name="paypal_account" required="false" type="xsd:string" style="query"></param>
            <param name="device_uid" required="false" type="xsd:string" style="query"></param>
            <param name="device_brand" required="false" type="xsd:string" style="query"></param>
            <param name="device_model" required="false" type="xsd:string" style="query"></param>
            <param name="device_os" required="false" type="xsd:string" style="query"></param>
            <param name="device_app_version" required="false" type="xsd:string" style="query"></param>
            <param name="device_mobile_number" required="false" type="xsd:string" style="query"></param>
            <param name="device_ip" required="false" type="xsd:string" style="query"></param>
            <param name="device_location" required="false" type="xsd:string" style="query"></param>
            <method id="signup" name="GET" apigee:displayName="Sign Up">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">sign_up</doc>
            </method>
        </resource>
        
        <!-- login -->
        <resource path="/users/sign_in">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="email" required="true" type="xsd:string" style="query" default="user1@example.com"></param>
            <param name="password" required="false" type="xsd:string" style="query" default="dingodingo"></param>
            <param name="auth_token" required="false" type="xsd:string" style="query" default="kZz88RuBL5t5coJfitpR"></param>
            <method id="login" name="GET" apigee:displayName="Login">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="false"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
            </method>
        </resource>
        
<!-- ##################### USERS ##################### -->        
        
        <!-- update_profile -->
        <resource path="/api/v1/users">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="email" required="false" type="xsd:string" style="query"></param>
            <param name="name" required="false" type="xsd:string" style="query"></param>
            <param name="surname" required="false" type="xsd:string" style="query"></param>
            <param name="date_of_birth" required="false" type="xsd:date" style="query"></param>
            <param name="city" required="false" type="xsd:date" style="query"></param>
            <param name="photo_url" required="false" type="xsd:string" style="query"></param>
            <param name="fb_id" required="false" type="xsd:string" style="query"></param>
            <param name="paypal_account" required="false" type="xsd:string" style="query"></param>
            
            <param name="allow_dingo_emails" required="false" type="xsd:boolean" style="query"></param>
            <param name="allow_push_notifications" required="false" type="xsd:boolean" style="query"></param>
            <param name="promo" required="false" type="xsd:string" style="query"></param>
            <param name="disconnect_fb_account" required="false" type="xsd:boolean" style="query"></param>
            
            <method id="update_profile" name="POST" apigee:displayName="Update Profile">
                <apigee:tags>
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">update_profile</doc>
            </method>
        </resource>
        
        <!-- block_user -->
        <resource path="/api/v1/users/:user_id/block">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="block" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="block_user" name="POST" apigee:displayName="Block User">
                <apigee:tags>
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">block_user</doc>
            </method>
        </resource>
        
        <!-- report_user -->
        <resource path="/api/v1/users/:user_id/report">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="report_user" name="POST" apigee:displayName="Report User">
                <apigee:tags>
                    <apigee:tag primary="true">Users</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">report_user</doc>
            </method>
        </resource>

<!-- ##################### CATEGORIES ##################### -->        
        
        <!-- get_categories -->
        <resource path="/api/v1/categories">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_categories" name="GET" apigee:displayName="Get Categories">
                <apigee:tags>
                    <apigee:tag primary="true">Categories</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_categories</doc>
            </method>
        </resource>
        
<!-- ##################### EVENTS ##################### -->        

        <!-- get_all_events -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="any" required="false" type="xsd:boolean" style="query" default="true"></param>
            <method id="get_all_events" name="GET" apigee:displayName="Get All Events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_all_events</doc>
            </method>
        </resource>
        
        <!-- get_events_by_categories -->
        <resource path="/api/v1/events?category_ids[]=03487377-4146-4067-a048-04859710b8c8">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_events_by_categories" name="GET" apigee:displayName="Get Events by Categories">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_events_by_categories</doc>
            </method>
        </resource>
        
        <!-- get_events_by_location -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="location" required="false" type="xsd:string" style="query" default="latitude,longitude"></param>
            <param name="city" required="false" type="xsd:string" style="query" default="London"></param>
            <method id="get_events_by_location" name="GET" apigee:displayName="Get Events by Location">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_events_by_location</doc>
            </method>
        </resource>
        
        <!-- get_featured_events -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="featured" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="get_featured_events" name="GET" apigee:displayName="Get Featured Events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_featured_events</doc>
            </method>
        </resource>
        
        <!-- search_events_by_name -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="name" required="true" type="xsd:string" style="query" default=""></param>
            <method id="search_events_by_name" name="GET" apigee:displayName="Search Events by Name">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">search_events_by_name</doc>
            </method>
        </resource>
        
        <!-- get_event_details -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="id" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_event_details" name="GET" apigee:displayName="Get Event Details">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_event_details</doc>
            </method>
        </resource>
        
        <!-- search_events -->
        <resource path="/api/v1/events?category_ids[]=03487377-4146-4067-a048-04859710b8c8">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="name" required="false" type="xsd:string" style="query" default=""></param>
            <param name="start_date" required="false" type="xsd:string" style="query" default=""></param>
            <param name="end_date" required="false" type="xsd:string" style="query" default=""></param>
            <param name="location" required="false" type="xsd:string" style="query" default="latitude,longitude"></param>
            <param name="city" required="false" type="xsd:string" style="query" default="London"></param>
            <method id="search_events" name="GET" apigee:displayName="Search Events">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">search_events</doc>
            </method>
        </resource>
        
        <!-- create_event -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="name" required="true" type="xsd:string" style="query" default=""></param>
            <param name="date" required="false" type="xsd:datetime" style="query" default=""></param>
            <param name="category_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="end_date" required="false" type="xsd:datetime" style="query" default=""></param>            
            <param name="description" required="false" type="xsd:string" style="query" default=""></param>
            <param name="address" required="false" type="xsd:string" style="query" default=""></param>
            <param name="postcode" required="false" type="xsd:string" style="query" default=""></param>
            <param name="city" required="false" type="xsd:string" style="query" default=""></param>
            <param name="location" required="false" type="xsd:string" style="query" default=""></param>
            <method id="create_event" name="POST" apigee:displayName="Create Event">
                <apigee:tags>
                    <apigee:tag primary="true">Events</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">create_event</doc>
            </method>
        </resource>
        
<!-- ##################### ALERTS ##################### -->        
        
        <!-- set_alert -->
        <resource path="/api/v1/alerts">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="event_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="on" required="true" type="xsd:boolean" style="query" default="true"></param>
            <param name="price" required="true" type="xsd:double" style="query" default="0.0"></param>
            <param name="description" required="false" type="xsd:string" style="query"></param>
            <method id="set_alert" name="POST" apigee:displayName="Set Alert">
                <apigee:tags>
                    <apigee:tag primary="true">Alerts</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">set_alert</doc>
            </method>
        </resource>
        
        <!-- get_alerts -->
        <resource path="/api/v1/alerts">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_alerts" name="GET" apigee:displayName="Get Alerts">
                <apigee:tags>
                    <apigee:tag primary="true">Alerts</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_alerts</doc>
            </method>
        </resource>
        
<!-- ##################### TICKETS ##################### -->
        
        <!-- create_ticket -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="event_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="price" required="true" type="xsd:double" style="query" default=""></param>
            <param name="seat_type" required="false" type="xsd:string" style="query" default=""></param>
            <param name="ticket_type" required="false" type="xsd:string" style="query" default=""></param>
            <param name="description" required="false" type="xsd:string" style="query" default=""></param>
            
            <param name="delivery_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="payment_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="number_of_tickets" required="false" type="xsd:integer" style="query" default=""></param>
            <param name="face_value_per_ticket" required="false" type="xsd:double" style="query" default=""></param>
            
            <method id="create_ticket" name="POST" apigee:displayName="Create Ticket">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">create_ticket</doc>
            </method>
        </resource>
        
        <!-- update_ticket -->
        <resource path="/api/v1/tickets/:id">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="price" required="true" type="xsd:double" style="query" default=""></param>
            <param name="seat_type" required="false" type="xsd:string" style="query" default=""></param>
            <param name="ticket_type" required="false" type="xsd:string" style="query" default=""></param>
            <param name="description" required="false" type="xsd:string" style="query" default=""></param>
            <param name="delivery_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="payment_options" required="false" type="xsd:string" style="query" default=""></param>
            <param name="number_of_tickets" required="false" type="xsd:integer" style="query" default=""></param>
            <param name="face_value_per_ticket" required="false" type="xsd:double" style="query" default=""></param>
            <param name="available" required="false" type="xsd:boolean" style="query" default="true"></param>
            
            <method id="update_ticket" name="PUT" apigee:displayName="Update Ticket">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">update_ticket</doc>
            </method>
        </resource>
        
        <!-- get_tickets_by_event -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="event_id" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_tickets_by_event" name="GET" apigee:displayName="Get Tickets By Event">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_tickets_by_event</doc>
            </method>
        </resource>
        
        <!-- get_tickets_by_user -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="auth_token" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_tickets_by_user" name="GET" apigee:displayName="Get Tickets By User">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_tickets_by_user</doc>
            </method>
        </resource>
        
        <!-- get_tickets_by_id -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="id" required="true" type="xsd:string" style="query" default=""></param>
            <method id="get_tickets_by_id" name="GET" apigee:displayName="Get Tickets By Id">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_tickets_by_id</doc>
            </method>
        </resource>
        
        <!-- get_my_tickets -->
        <resource path="/api/v1/tickets">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="mine" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="get_my_tickets" name="GET" apigee:displayName="Get My Tickets">
                <apigee:tags>
                    <apigee:tag primary="true">Tickets</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_my_tickets</doc>
            </method>
        </resource>
        
<!-- ##################### MESSAGES ##################### -->        
        
        <!-- get_conversations -->
        <resource path="/api/v1/messages">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="conversations" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="get_conversations" name="GET" apigee:displayName="Get User's Conversations">
                <apigee:tags>
                    <apigee:tag primary="true">Messages</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_conversations</doc>
            </method>
        </resource>
        
        <!-- send_message -->
        <resource path="/api/v1/messages">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="receiver_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="content" required="true" type="xsd:string" style="query" default=""></param>
            <param name="ticket_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="new_offer" required="false" type="xsd:boolean" style="query" default="false"></param>
            <param name="read" required="false" type="xsd:boolean" style="query" default="false"></param>
            <method id="send_message" name="POST" apigee:displayName="Send Message">
                <apigee:tags>
                    <apigee:tag primary="true">Messages</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">send_message</doc>
            </method>
        </resource>
        
        <!-- mark_message_as_read -->
        <resource path="/api/v1/messages/:id">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="mark_message_as_read" name="PUT" apigee:displayName="Mark Message as Read">
                <apigee:tags>
                    <apigee:tag primary="true">Messages</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">mark_message_as_read</doc>
            </method>
        </resource>
        
<!-- ##################### OFFERS ##################### -->        

        <!-- get_offers_by_user -->
        <resource path="/api/v1/offers">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="auth_token" required="false" type="xsd:string" style="query" default=""></param>
            <method id="get_offers_by_user" name="GET" apigee:displayName="Get Offers By User">
                <apigee:tags>
                    <apigee:tag primary="true">Offers</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_offers_by_user</doc>
            </method>
        </resource>
        
        <!-- send_offer -->
        <resource path="/api/v1/offers">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="ticket_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="receiver_id" required="true" type="xsd:string" style="query" default=""></param>
            <param name="num_tickets" required="true" type="xsd:integer" style="query" default="1"></param>
            <param name="price" required="true" type="xsd:double" style="query" default=""></param>
            <method id="send_offer" name="POST" apigee:displayName="Send Offer">
                <apigee:tags>
                    <apigee:tag primary="true">Offers</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">send_offer</doc>
            </method>
        </resource>
        
        <!-- reply_offer -->
        <resource path="/api/v1/offers/:id">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="accept_offer" required="true" type="xsd:boolean" style="query" default="true"></param>
            <method id="reply_offer" name="PUT" apigee:displayName="Reply Offer">
                <apigee:tags>
                    <apigee:tag primary="true">Offers</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">reply_offer</doc>
            </method>
        </resource>
        
<!-- ##################### DEVICES ##################### -->        
        
        <!-- register_device -->
        <resource path="/api/v1/devices">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="uid" required="false" type="xsd:string" style="query"></param>
            <param name="brand" required="false" type="xsd:string" style="query"></param>
            <param name="model" required="false" type="xsd:string" style="query"></param>
            <param name="os" required="false" type="xsd:string" style="query"></param>
            <param name="app_version" required="false" type="xsd:string" style="query"></param>
            <param name="mobile_number" required="false" type="xsd:string" style="query"></param>
            <param name="ip" required="false" type="xsd:string" style="query"></param>
            <param name="location" required="false" type="xsd:string" style="query"></param>
            
            <method id="register_device" name="POST" apigee:displayName="Register Device">
                <apigee:tags>
                    <apigee:tag primary="true">Devices</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">register_device</doc>
            </method>
        </resource>
        
<!-- ##################### ORDERS ##################### -->

		<!-- make_order -->
        <resource path="/api/v1/orders">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="order_paid" required="false" type="xsd:boolean" style="query"></param>
            <param name="paypal_key" required="false" type="xsd:string" style="query"></param>
            <param name="order_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="ticket_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="offer_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="promo_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="credit_card_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="num_tickets" required="true" type="xsd:integer" style="query" default=""></param>
            <param name="amount" required="true" type="xsd:double" style="query" default=""></param>
            <param name="buyers_note" required="false" type="xsd:string" style="query" default=""></param>
            <param name="delivery_options" required="false" type="xsd:string" style="query" default=""></param>
            
            <method id="make_order" name="POST" apigee:displayName="Make Order">
                <apigee:tags>
                    <apigee:tag primary="true">Orders</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">make_ticket</doc>
            </method>
        </resource>
        
        <!-- release_order -->
        <resource path="/api/v1/orders/:id">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="release" required="true" type="xsd:boolean" style="query" default="true"></param>
            
            <method id="release_order" name="PUT" apigee:displayName="Release Order">
                <apigee:tags>
                    <apigee:tag primary="true">Orders</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">release_order</doc>
            </method>
        </resource>
        
        <!-- refund_order -->
        <resource path="/api/v1/orders/:id">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="refund" required="true" type="xsd:boolean" style="query" default="true"></param>
            
            <method id="refund_order" name="PUT" apigee:displayName="Refund Order">
                <apigee:tags>
                    <apigee:tag primary="true">Orders</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">refund_order</doc>
            </method>
        </resource>
        
<!-- ##################### PROMOS ##################### -->

		<!-- get_promo_discount -->
        <resource path="/api/v1/promos/get_discount">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="amount" required="true" type="xsd:double" style="query" default=""></param>
            
            <method id="get_promo_discount" name="GET" apigee:displayName="Get Promo Discount">
                <apigee:tags>
                    <apigee:tag primary="true">Promos</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_promo_discount</doc>
            </method>
        </resource>
        
<!-- ##################### PAYMENTS ##################### -->

		<!-- transaction_approved -->
        <resource path="/api/v1/paypal/success">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="order_id" required="true" type="xsd:string" style="query" default=""></param>
            
            <method id="transaction_approved" name="POST" apigee:displayName="Transaction Approved">
                <apigee:tags>
                    <apigee:tag primary="true">Payments</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">transaction_approved</doc>
            </method>
        </resource>
        
        <!-- transaction_cancelled -->
        <resource path="/api/v1/paypal/cancel">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="order_id" required="true" type="xsd:string" style="query" default=""></param>
            
            <method id="transaction_cancelled" name="POST" apigee:displayName="Transaction Cancelled">
                <apigee:tags>
                    <apigee:tag primary="true">Payments</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">transaction_cancelled</doc>
            </method>
        </resource>
        

        <!-- store_credit_card -->
        <!--
        <resource path="/api/v1/payments/store_credit_card">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="type" required="true" type="xsd:string" style="query" default="visa"></param>
            <param name="number" required="true" type="xsd:string" style="query" default="4417119669820331"></param>
            <param name="expire_month" required="true" type="xsd:string" style="query" default="11"></param>
            <param name="expire_year" required="true" type="xsd:string" style="query" default="2018"></param>
            <param name="cvv2" required="true" type="xsd:string" style="query" default="874"></param>
            <param name="first_name" required="true" type="xsd:string" style="query" default="Joe"></param>
            <param name="last_name" required="true" type="xsd:string" style="query" default="Shopper"></param>
            
            <method id="store_credit_card" name="POST" apigee:displayName="Store Credit Card">
                <apigee:tags>
                    <apigee:tag primary="true">Payments</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">store_credit_card</doc>
            </method>
        </resource>
        -->
        
        <!-- authorize_payment -->
        <!--
        <resource path="/api/v1/payments/authorize_payment">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            
            <param name="offer_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="ticket_id" required="false" type="xsd:string" style="query" default=""></param>
            <param name="num_tickets" required="false" type="xsd:string" style="query" default=""></param>
            
            <method id="authorize_payment" name="POST" apigee:displayName="Authorize Payment">
                <apigee:tags>
                    <apigee:tag primary="true">Payments</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">authorize_payment</doc>
            </method>
        </resource>
        -->
        


    </resources>

</application>
