dingo_api_console.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xmlns="http://wadl.dev.java.net/2009/02"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="http://dingoapp.herokuapp.com">
        <!-- sign_up -->
        <resource path="/users/sign_up">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="email" required="true" type="xsd:string" style="query"></param>
            <param name="password" required="false" type="xsd:string" style="query"></param>
            <param name="name" required="false" type="xsd:string" style="query"></param>
            <param name="date_of_birth" required="false" type="xsd:date" style="query"></param>
            <param name="city" required="false" type="xsd:date" style="query"></param>
            <param name="photo_url" required="false" type="xsd:string" style="query"></param>
            <param name="device_uid" required="false" type="xsd:string" style="query"></param>
            <param name="device_brand" required="false" type="xsd:string" style="query"></param>
            <param name="device_model" required="false" type="xsd:string" style="query"></param>
            <param name="device_os" required="false" type="xsd:string" style="query"></param>
            <param name="device_app_version" required="false" type="xsd:string" style="query"></param>
            <param name="device_mobile_number" required="false" type="xsd:string" style="query"></param>
            <param name="device_ip" required="false" type="xsd:string" style="query"></param>
            <param name="device_location" required="false" type="xsd:string" style="query"></param>
            <method id="signup" name="GET" apigee:displayName="Sign Up">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">sign_up</doc>
            </method>
        </resource>
        
        <!-- login -->
        <resource path="/users/sign_in">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="user_email" required="true" type="xsd:string" style="query" default="user1@example.com"></param>
            <param name="user_token" required="true" type="xsd:string" style="query" default="-_wxb38ZbNEExLsCcaTa"></param>
            <method id="login" name="GET" apigee:displayName="Login">
                <apigee:tags>
                    <apigee:tag primary="true">Authentication</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="false"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
            </method>
        </resource>
        
        <!-- get_categories -->
        <resource path="/api/v1/categories">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_categories" name="GET" apigee:displayName="Get Categories">
                <apigee:tags>
                    <apigee:tag primary="true">Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_categories</doc>
            </method>
        </resource>

        <!-- get_events -->
        <resource path="/api/v1/events">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <param name="Accept" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="get_events" name="GET" apigee:displayName="Get Events">
                <apigee:tags>
                    <apigee:tag primary="true">Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">get_events</doc>
            </method>
        </resource>
        
        
        
        

        <!--
        <resource path="/functions/login">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="login" name="POST" apigee:displayName="Login">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">login</doc>
                <request>
                    <representation>
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[
                                { "email": "dingo@dingoapp.co.uk", "password": "dingo" }
                                ]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        
        <resource path="/functions/signup">
            <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json"></param>
            <method id="signup" name="POST" apigee:displayName="Signup">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">signup</doc>
                <request>
                    <representation>
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[
                                {
                                    "username": "user@example.com",
                                    "email": "user@example.com",
                                    "password": "user123",
                                    "name": "John Smith",
                                    "date_of_birth": "01/01/2000",
                                    "device_uuid": "0123456789",
                                    "device_type": "iPhone 5S",
                                    "mobile_number": "+447912345678",
                                    "latitude": 30.0,
                                    "longitude": -40.0
                                }
                                ]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        <resource path="/classes/Ticket">
            <param name="event" required="true" type="xsd:string" style="query" default="main_event">
                <doc>
                    Filter tickets by a specific event
                </doc>
            </param>
            <method id="get_tickets" name="GET" apigee:displayName="Old Get Tickets">
                <apigee:tags>
                    <apigee:tag primary="true">Client Methods</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="http://api.mydomain.com/doc/my-method">Get Tickets</doc>
            </method>
        </resource>
        
        -->

    </resources>

</application>
